
#title{
    background-color: #fff;
    padding: 3% 15%;
}

.title-image{
    width: 80%;
}

.row{
    padding: 3%;
}

.description{
    padding: 3%;
    text-align: center;
}

.btn{
    width: 100%;
}

.form-section{
    margin: 2% 0 0;
}
