body{
    font-family: sans-serif;
    padding: 2% 20%;
    background: #5956e9;
    color: #fff;
    height: 100%;
}

h1{
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
}

.navbar-brand{
    font-weight: 550;
}

.pagearea{
    margin-top: 5%;
}

img{
    width: 100%;
}

form{
    flex-direction: column !important;
}

input[type=text]{
    margin-bottom: 2%;
}